@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{

  font-family: 'Roboto', sans-serif;

}
.container a {
display: inline-block;
margin-right: 10px;
text-decoration: none;
color: rgb(75, 75, 190);
}
body{
  background-image: linear-gradient(rgba(255, 0, 0, 0.36),rgba(0, 0, 255, 0.432));
}
.section{
  color: blanchedalmond;
  width: 50%;
  margin-top: 50px;
  padding: 30px;
}
.section h2{
  font-size: 30px;
  text-transform: uppercase;
}
.section p{
  letter-spacing: 3px;
  width: 350px;
  padding: 20px 0;
}
.form-box{
  margin-top:30px;


}
.input-group input{
  widh: 45%;
  border: 0;
  outline: none !important;
  padding: 10x;
  background-color: rgb(226, 226, 226);
  margin: 2%;
  display: inline-block;
}
.text-area textarea{
  width: 95%;
  border: 0;
  outline: none !important;
  padding: 10px;
  background-color: rgb(226, 226, 226);
  margin: 2%;
}
.sub{
  border: 0;
  outline: none !important;
  padding: 10px;
  background-color: rgb(82, 82, 121);
  margin: 2%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
table{
  width: 60%;
  margin-top: 60px;
  border-spacing: 10px;
}
th{
  background-color: aquamarine;
  height: 70px;
  border: 4px solid rgba(0, 0, 255, 0.288);
}
td{
  background-color:rgba(226, 119, 43, 0.179) ;
  height: 70px;
  text-align: center;
  border: 4px solid rgba(0, 0, 255, 0.288);
}

